TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
VITE_SUPPORT_PHONE_1=7599337074
VITE_SUPPORT_EMAIL_1=praver.agarwal7@gmail.com
VITE_SUPPORT_HOURS_1="Available 3-5pm"
VITE_SUPPORT_PHONE_2="79832 22450"
VITE_SUPPORT_EMAIL_2="pending@example.com"
VITE_SUPPORT_HOURS_2="Available 5-7pm"
VITE_ADMIN_EMAIL=praver.agarwal7@gmail.com

# Email configuration for Demo Requests (e.g., your Gmail App Password)
EMAIL_USER=
EMAIL_PASS=
